<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>info</title>
</head>
<body>
    <h3>사용자 정보</h3>

    <a th:href="@{/}">처음</a>
    <p sec:authorize="isAuthenticated()">
        아이디 : <span>[[${#authentication.principal.user.usid}]]</span><br>
        이름 : <span>[[${#authentication.principal.user.name}]]</span><br>
        나이 : <span sec:authentication="principal.user.age"></span><br>
        권한 :  <span sec:authentication="principal.user.role"></span><br>
        가입일 : <span sec:authentication="principal.user.regDate"></span><br>

    </p>

</body>
</html>