<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2025/09/16
        이름 : 이종봉
        내용 : 3장 Spring Boot 실습하기
    -->
</head>
<body>
    <h3>Spring Boot</h3>

    <h4>Spring Boot 기본</h4>
    <a href="/ch03/sub1/hello">hello</a>
    <a href="/ch03/sub1/welcome">welcome</a>

    <h4>Thymeleaf 기본</h4>
    <!-- 출력 -->
    <p>[[${str1}]]</p>
    <p th:text="${str2}">내용출력</p>
    <p th:text="${str3}">내용출력</p>

    <!-- 조건문 -->
    <p>
        <span th:if="${user1.name=='홍길동'}">user1은 홍길동 입니다.</span>
        <span th:if="${user1.name=='김유신'}">user1은 김유신 입니다.</span>
    </p>
    <p>
        <span th:if="${user1.age >= 20}">user1은 20세 이상 입니다.</span>
        <span th:unless="${user1.age >= 20}">user1은 20세 이상이 아닙니다.</span>
    </p>
    <p th:switch="${user2.age >= 20}">
        <span th:case="treu">user2는 20세 이상입니다.</span>
        <span th:case="flase">user2는 20세 미만입니다.</span>
    </p>
    <p>
        <span th:if="${user4}">user4는 null 아닙니다.</span>
        <span th:unless="${user4}">user4는 null 입니다.</span>
    </p>

    <!-- 반복문 -->
    <table border="1">
        <tr th:each="user:${dtoList}">
            <td>[[${user.uid}]]</td>
            <td>[[${user.name}]]</td>
            <td th:text="${user.birth}">생년월일</td>
            <td th:text="${user.age}">나이</td>
        </tr>
    </table>

    <!-- 링크 -->
    <a th:href="@{/sub1/hello}">Hello</a>
    <a th:href="@{/sub1/welcome}">Welcome</a>

    <!-- include -->
    <th:block th:include="/inc/_head.html"/>
    <th:block th:include="/inc/_tail.html"/>

    <div th:insert="/inc/_head.html"></div>
    <div th:insert="/inc/_tail.html"></div>

    <div th:replace="/inc/_head.html"></div>
    <div th:replace="/inc/_tail.html"></div>

    <th:block th:include="~{inc/template::_header}"/>
    <th:block th:include="~{inc/template::_footer}"/>

    <!-- Thymeleaf Layout 찾아서 실습해보기 -->


</body>
</html>