<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section id="productRegister">
        <nav>
            <h3>상품등록</h3>
        </nav>

        <article>
            <form th:action="@{/product}" method="post" enctype="multipart/form-data">
                <table border="1">
                    <tr>
                        <td>상품명</td>
                        <td>
                            <input type="text" name="productName" />
                        </td>
                    </tr>
                    <tr>
                        <td>카테고리</td>
                        <td>
                            <select name="category">
                                <option>종류</option>
                                <option value="10">의류</option>
                                <option value="11">식품</option>
                                <option value="12">가전</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>가격</td>
                        <td>
                            <input type="number" name="price"/>
                        </td>
                    </tr>
                    <tr>
                        <td>포인트</td>
                        <td>
                            <input type="number" name="point" />포인트는 가격의 1%</td>
                    </tr>
                    <tr>
                        <td>할인</td>
                        <td>
                            <select name="discount">
                                <option value="5">5%</option>
                                <option value="12">12%</option>
                                <option value="15">15%</option>
                                <option value="18">18%</option>
                                <option value="20">20%</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td>
                            <label><input type="radio" name="delivery" value="2000"/>2,000원</label>
                            <label><input type="radio" name="delivery" value="3000"/>3,000원</label>
                            <label><input type="radio" name="delivery" value="5000"/>5,000원</label>
                            <label><input type="radio" name="delivery" value="0"/>무료</label>
                        </td>
                    </tr>
                    <tr>
                        <td>재고</td>
                        <td><input type="number" name="stock" /></td>
                    </tr>
                    <tr>
                        <td>상품이미지</td>
                        <td>
                            <p>
                                <span>상품목록 이미지(약 120 x 120)</span>
                                <input type="file" name="thumbFile120" />
                            </p>
                            <p>
                                <span>기본정보 이미지(약 240 x 240)</span>
                                <input type="file" name="thumbFile240" />
                            </p>
                            <p>
                                <span>상품설명 이미지(약 750 x Auto)</span>
                                <input type="file" name="thumbFile750" />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>기타</td>
                        <td><textarea name="etc"></textarea></td>
                    </tr>
                </table>

                <p>
                    <a href="#" class="btnCancel">취소</a>
                    <input type="submit" value="상품등록" />
                </p>
            </form>
        </article>
    </section>
</body>
</html>