<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ch05.MyBatis</title>
    <!--
        날짜 : 2025/09/17
        이름 : 이종봉
        내용 : 5장 MyBatis 실습
    -->
</head>
<body>
    <h3>ch05.MyBatis</h3>

    <a th:href="@{/user1/list}">User1 실습</a>
    <a th:href="@{/user2/list}">User2 실습</a>
    <a th:href="@{/user3/list}">User3 실습</a>
    <a th:href="@{/user4/list}">User4 실습</a>
    <a th:href="@{/user5/list}">User5 실습</a>
    <a th:href="@{/user6/list}">User6 실습</a>
    <a th:href="@{/user7/list}">User7 실습</a>
</body>
</html>